.about {
  width: 100%;
  max-height: 610px;
  position: relative;
}

.inner {
  width: 100%;
  animation: blink 3s ease-in-out infinite;
  padding-top: 100px;
  padding-bottom: 120px;
}

.grid_element {
  background-image: url("../../assets/images/bg/aboutElement.svg");
  background-repeat: none;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 607px;
}

.title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.title {
  font-size: 45px;
  font-weight: 900;
}

.section_number {
  color: var(--green);
  position: relative;
}

.section_number::after {
  content: " ";
  width: 135px;
  background-color: var(--green);
  height: 2px;
  position: absolute;
  right: -150px;
  top: 50%;
  transform: translateY(-50%);
}


.subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}


.text {
  font-size: 16px;
  font-weight: 200;
  color: var(--grey);
  line-height: 40px;
}

.subtitle_box {
  margin-bottom: 65px;
}





@media only screen and (max-width: 945px) {
  .title {
    font-size: 35px;
  }

  .subtitle {
    font-size: 16px;
  }

  .achive_text {
    font-size: 40px;
  }
}

@media only screen and (max-width: 775px) {
  .title_box {
    display: block;
  }

  .section_number::after {
    content: " ";
    width: 135px;
    background-color: var(--green);
    height: 2px;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
  }


  .title {
    font-size: 26px;
    margin-top: 10px;
  }

  .subtitle {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .achiev_title {
    font-size: 12px;
  }

  .achiev_text {
    font-size: 40px;
    margin-top: 10px;
  }

  .grid_cintainer {
    column-gap: 10px;
  }

  .text {
    line-height: 20px;
  }
}