.contact {
  width: 100%;
  padding-bottom: 100px;
}

.contact_box {
  z-index: 10;
}

.title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  z-index: 14;
}

.title {
  font-size: 45px;
  font-weight: 900;
}

.animate_title {
  display: block;
}

.section_number {
  color: var(--green);
  position: relative;
}

.section_number::after {
  content: " ";
  width: 135px;
  background-color: var(--green);
  height: 2px;
  position: absolute;
  right: -150px;
  top: 50%;
  transform: translateY(-50%);
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.country_box {
  display: flex;
  align-items: center;
}

.country_box img {
  margin-right: 5px;
}

.country {
  font-size: 18px;
}

.city {
  font-size: 14px;
  color: var(--grey);
}

.location_box {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
  border-top: 1px solid var(--contact-border);
  align-items: center;
}

.contact_box {
  padding-top: 64px;
  padding-bottom: 63px;
  padding-left: 52px;
}

.phone_box {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--contact-border);
  padding: 32px 0px;
  align-items: center;
}

.telegram {
  background-image: url("../../assets/images/socialMedia/telegram.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
}

.telegram:hover {
  background-image: url("../../assets/images/socialMedia/telegramHover.svg");
}

.instagram {
  background-image: url("../../assets/images/socialMedia/instagram.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
}

.instagram:hover {
  background-image: url("../../assets/images/socialMedia/instagramHover.svg");
}

.linkedIn {
  background-image: url("../../assets/images/socialMedia/linkedIn.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
}

.linkedIn:hover {
  background-image: url("../../assets/images/socialMedia/linkedInHover.svg");
}

.github {
  background-image: url("../../assets/images/socialMedia/github.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
}

.github:hover {
  background-image: url("../../assets/images/socialMedia/githubHover.svg");
}


.phone_number {
  font-size: 18px;
  font-weight: 700;
}

.social_box {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--contact-border);
  padding: 32px 0px;
  align-items: center;
}

.icons_box {
  display: flex;
}

.email_box {
  display: flex;
  border-top: 1px solid var(--contact-border);
  border-bottom: 1px solid var(--contact-border);
  padding: 32px 0px;
}

.email_box img {
  margin-right: 5px;
}

.icon_item:not(:last-child) {
  margin-right: 10px;
}


@media only screen and (max-width: 945px) {
  .title {
    font-size: 35px;
  }

  .grid_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .form {
    grid-row-start: 2;
  }
}


@media only screen and (max-width: 775px) {
  .title_box {
    display: block;
  }

  .section_number::after {
    content: " ";
    width: 135px;
    background-color: var(--green);
    height: 2px;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
  }

  .title {
    font-size: 26px;
    margin-top: 10px;
  }

  .contact_box {
    padding-left: 0;
  }
}