.weather {
    width: 100%;
    height: 433px;
}

.inner {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.button_box {
    display: flex;
    margin-top: 30px;
}

.visit_btn {
    border: none;
    background-color: var(--green);
    color: #000;
    border: 1px solid var(--green);
    width: 182px;
    height: 60px;
    cursor: pointer;
    transition: .4s;
    font-weight: 700;
    margin-right: 16px;
    outline-color: #fff;
}

.visit_btn a {
    color: #000;
}

.visit_btn:hover {
    background-color: rgb(0, 255, 56, .3);
    color: var(--green);
}

.visit_btn:hover + .visit_btn a {
    color: var(--green);
}

.github_btn {
    border: none;
    background-color: inherit;
    color: var(--green);
    border: 1px solid var(--green);
    width: 182px;
    height: 60px;
    cursor: pointer;
    transition: .4s;
    font-weight: 700;
    outline-color: #fff;
}

.github_btn a {
    color: var(--green);
}

.github_btn:hover {
    background-color: var(--green);
    color: #000;
    transition: .4s;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.description {
    font-weight: 300;
    color: var(--grey);
}

.description p:first-child {
    margin-bottom: 10px;
}

.img_box {
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
}


.img_box img {
    margin-left: auto;
    width: 100%;
}

.stack_title {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
}

.icons_box {
    display: flex;
}

.icon img{
    width: 35px;
    height: 35px;
}

.icon:not(:last-child) {
    margin-right: 20px;
}

.description_text {
    margin-bottom: 20px;
}


@media only screen and (max-width: 985px) {
    .img_box {
        display: none;
    }

    .inner {
        height: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
  }

  @media only screen and (max-width: 775px) {
    .button_box {
        display: block;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .description p:last-child {
        display: none;
    }

    .visit_btn {
        width: 90%;
        margin-bottom: 20px;
    }

    .github_btn {
        width: 90%;
    }

    .description_text {
        width: 95%;
    }

    .description {
        max-height: 110px;
    }

    .inner {
        height: 100%;
        display: flex;
    }

    .stack_box {
        display: none;
    }
  }

  @media only screen and (max-width: 430px) {
    .button_box {
        margin-top: 40px;
    }
  }