.skills {
  margin-top: 250px;
  max-height: 800px;
  padding-top: 70px;
  position: relative;
}

.container {
  position: relative;
}

.inner {
  width: 100%;
  height: 716px;
  padding: 40px 40px;
  background-color: #131313;
  border-radius: 24px;
  border: 1px solid #393939;
  z-index: 10;
  position: relative;
}

.green_element {
  background-image: url("../../assets/images/bg/skillsGreenElement.png");
  background-repeat: none;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 1385px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: .8;
  animation: blink 3s ease-in-out infinite;
}

.title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;

}

.title {
  display: block;
  font-size: 45px;
  font-weight: 900;
}

.section_number {
  display: block;
  color: var(--green);
  position: relative;
}


.section_number::after {
  content: " ";
  width: 135px;
  background-color: var(--green);
  height: 2px;
  position: absolute;
  right: -150px;
  top: 50%;
  transform: translateY(-50%);
}

.grid_container_main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 110px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 110px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes blink {

  0%,
  100% {
    opacity: .8;
  }

  50% {
    opacity: .4;
  }
}


@media only screen and (max-width: 945px) {
  .title {
    font-size: 35px;
  }
}


@media only screen and (max-width: 775px) {
  .grid_container_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    margin-bottom: 110px;
  }
  
  .grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 110px;
  }

  .inner {
    height: 100%;
  }

  .skills {
    margin-bottom: 245px;
  }

  .green_element {
    top: 80%;
  }

}

@media only screen and (max-width: 744px) {
  .title {
    font-size: 26px;
    margin-top: 10px;
  }

  .inner {
    padding: 20px 0px;
  }

  .title_box {
    display: block;
    padding-left: 20px;
  }

  .grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
  }

  .section_number::after {
    content: " ";
    width: 135px;
    background-color: var(--green);
    height: 2px;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
  }

  .skills {
    margin-bottom: 40px;
  }

  .typescript {
    width: 150px;
  }

  .javascript {
    width: 75px;
    height: 75px;
  }

  .react {
    width: 75px;
    height: 75px;
  }

  .redux {
    width: 75px;
    height: 75px;
  }

  .grid_container_main {
    margin-bottom: 100px;
  }

  .html5 {
    width: 60px;
    height: 60px;
  }
  .css3 {
    width: 60px;
    height: 60px;
  }
  .materialui {
    width: 60px;
    height: 60px;
  }
  .tailwind {
    width: 60px;
    height: 60px;
  }
  .npm {
    width: 60px;
    height: 60px;
  }
  .yarn {
    width: 60px;
    height: 60px;
  }
  .storybook {
    width: 60px;
    height: 60px;
  }
  .git {
    width: 60px;
    height: 60px;
  }
  .restapi {
    width: 60px;
    height: 60px;
  }
  .axios {
    width: 60px;
    height: 60px;
  }
  .sass {
    width: 60px;
    height: 60px;
  }
  .twelve {
    width: 60px;
    height: 60px;
  }
}